<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tribook Apartments</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="container-fluid">
        <%- include('./partials/header.ejs') %>
    </header>
    <main class="container">
        <h1>Página Principal</h1>
        <form class="container" action="/search" method="GET">
            <label for="maxPrice">Precio Máximo por Noche</label>
            <input type="number" name="maxPrice" id="maxPrice" min="0" max="1000000">
            <input type="submit" value="Filtrar">
        </form>
        <div class="container apartments">
            <% apartments.forEach(ap => { %>
                <a href="/apartment/<%= ap._id %>">
                    <article class="apartment">
                        <header><%= ap.title %></header>
                        <div><img src="<%= ap.mainPhoto %>" alt=""></div>
                        <footer><%= ap.price %> € por noche</footer>
                    </article>
                </a>
            <% }) %>
        </div>
    </main>
</body>

</html>
