<!DOCTYPE html>
<html lang="es">

<head>
    <title><%= apartment._id ? 'Editar' : 'Añadir Nuevo' %> Apartamento</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h1><%= apartment._id ? 'Editar' : 'Añadir Nuevo' %> Apartamento</h1>
    <main class="container">
        <form action="/admin/apartment/new-apartment" method="POST" >
            <input type="hidden" name="id" id="id" value="<%= apartment._id %>">
            
            <!-- Título -->
            <label for="title">Título</label>
            <input type="text" name="title" id="title" required maxlength="100" value="<%= apartment.title || '' %>">

            <!-- Descripción -->
            <label for="description">Descripción</label>
            <textarea rows="5" name="description" id="description" required><%= apartment.description || '' %></textarea>

            <!-- Normas -->
            <label for="rules">rules de Uso</label>
            <textarea rows="4" name="rules" id="rules" required><%= apartment.rules || '' %></textarea>

            <!-- Número de Habitaciones -->
            <label for="habitaciones">Número de Habitaciones</label>
            <input type="number" name="habitaciones" id="habitaciones" required min="1" value="<%= apartment.habitaciones || '' %>">

            <!-- Número de Camas -->
            <label for="camas">Número de Camas</label>
            <input type="number" name="camas" id="camas" required min="1" value="<%= apartment.camas || '' %>">

            <!-- Número de Baños -->
            <label for="banos">Número de Baños</label>
            <input type="number" name="banos" id="banos" required min="1" value="<%= apartment.banos || '' %>">

            <!-- Fotografías
            <label for="fotos">Fotografías del Apartamento (Máximo 4)</label>
            <input type="file" name="fotos" id="fotos" multiple accept="image/*" <%= apartment._id ? '' : 'required' %>> -->
            
            <!-- Descripción de las Fotografías -->
            <label for="descripcionesFotos">Descripción de las Fotografías (separadas por comas)</label>
            <input type="text" name="descripcionesFotos" id="descripcionesFotos" value="<%= apartment.descripcionesFotos || '' %>">

            <!-- Foto Principal -->
            <label for="mainPhoto">URL de la foto Principal/label>
            <input type="url" name="mainPhoto" id="mainPhoto" required min="1" max="4" value="<%= apartment.mainPhoto || '' %>">

            <!-- Precio por noche -->
            <label for="price">Precio por Noche (€)</label>
            <input type="number" name="price" id="price" required min="0" step="0.01" value="<%= apartment.price || '' %>">

            <!-- Superficie (m²) -->
            <label for="size">Superficie (m<sup>2</sup>)</label>
            <input type="number" name="size" id="size" required min="0" value="<%= apartment.size || '' %>">

            <!-- Máximo de Personas -->
            <label for="maxPersonas">Número Máximo de Personas</label>
            <input type="number" name="maxPersonas" id="maxPersonas" required min="1" value="<%= apartment.maxPersonas || '' %>">

            <!-- Servicios -->
            <h3>Servicios</h3>
            <label><input type="checkbox" name="servicios[]" value="Aire Acondicionado" <%= apartment.servicios && apartment.servicios.includes('Aire Acondicionado') ? 'checked' : '' %>> Aire Acondicionado</label><br>
            <label><input type="checkbox" name="servicios[]" value="Calefacción" <%= apartment.servicios && apartment.servicios.includes('Calefacción') ? 'checked' : '' %>> Calefacción</label><br>
            <label><input type="checkbox" name="servicios[]" value="Accesibilidad" <%= apartment.servicios && apartment.servicios.includes('Accesibilidad') ? 'checked' : '' %>> Adaptado para Personas con Movilidad Reducida</label><br>
            <label><input type="checkbox" name="servicios[]" value="Televisión" <%= apartment.servicios && apartment.servicios.includes('Televisión') ? 'checked' : '' %>> Televisión</label><br>
            <label><input type="checkbox" name="servicios[]" value="Cocina" <%= apartment.servicios && apartment.servicios.includes('Cocina') ? 'checked' : '' %>> Cocina</label><br>
            <label><input type="checkbox" name="servicios[]" value="Internet" <%= apartment.servicios && apartment.servicios.includes('Internet') ? 'checked' : '' %>> Conexión a Internet</label><br>

            <!-- Ubicación -->
            <h3>Ubicación</h3>
            <label for="provincia">Provincia</label>
            <input type="text" name="provincia" id="provincia" required value="<%= apartment.ubicacion?.provincia || '' %>">
            
            <label for="city">city</label>
            <input type="text" name="city" id="city" required value="<%= apartment.ubicacion?.city || '' %>">
            
            <label for="gps">Coordenadas GPS (Latitud, Longitud)</label>
            <input type="text" name="gps" id="gps" required value="<%= apartment.ubicacion?.gps || '' %>">

            <!-- Botón de Enviar -->
            <input type="submit" value="<%= apartment._id ? 'Guardar Cambios' : 'Añadir Nuevo' %>">
        </form>
    </main>
</body>

</html>
